.main-patient {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: left;
}

.patient-details {
  border-right: 1px solid #104e8b;
  height: 85vh;
  padding: 20px;
}
.patient-form-heading {
  text-align: left;
  color: #104e8b;
  font-size: 30px;
  margin-bottom: 15px;
}
.patient-records {
  /* border: 2px solid green; */
  height: 85vh;
  padding: 15px;
  overflow-y: scroll;
}
.patient-data-form-btns {
  text-align: center;
}
.patient-data-form-btns button {
  margin: 5px;
}
